<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectopersonal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".BusquedaActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@layout/searchable" />
        </activity>
        <activity android:name=".MyReviews" />
        <activity android:name=".AddReviewActivity" />
        <activity android:name=".WatchListActivity" />
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".RecomendacionesActivity" />
        <activity android:name=".Detalles.EquipoDetallesActivity" />
        <activity android:name=".Detalles.ActorDetallesActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".GenreActivity" />
        <activity android:name=".CrewActivity" />
        <activity android:name=".CastActivity" />
        <activity android:name=".PeliculasEstrenoActivity" />
        <activity android:name=".PeliculasTopActivity" />
        <activity android:name=".Detalles.PeliculaActivity" />
        <activity android:name=".PeliculasPopularesActivity"/>
    </application>

</manifest>